<%- include('header') -%>

<body>

    <div class="box" id="heading">
        <h1>About</h1>
    </div>


    <div class="box">

        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde perspiciatis incidunt ratione non debitis consequuntur earum, cum adipisci aliquam. Quos tempora itaque deserunt alias fuga nobis rem illo doloribus accusamus velit perspiciatis qui est officiis, quibusdam soluta autem iure deleniti, rerum voluptatem dignissimos excepturi ullam! Tempora, autem dolorum voluptas recusandae dolor assumenda ipsam aperiam sapiente asperiores obcaecati reprehenderit velit, ipsa blanditiis. Asperiores iste unde dolorum architecto incidunt recusandae fuga assumenda perferendis et vel neque blanditiis excepturi, illo</P>


    </div>

</body>

<%- include('footer') -%>

</html>